.contacts {
	width: 300px;
	margin: 0 auto;
}

.contacts__search-field-wrapper {
	width: 100%;
}

.contacts__search-field-wrapper input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.contacts__list {
	padding: 0;
	width: 100%;
}

.contact-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	font-family: sans-serif;
	border-bottom: 1px dotted grey;
}

.contact-item__photo {
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 50%;
}

.contact-item__name {
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.contact-item__phone {
	display: block;
	width: 100%;
	font-size: 18px;
	color: grey;
}